In [2]:
import json
file = json.load(open('../../어류 개체 촬영 영상/Validation/[라벨]gbt_fish_dtset.json' , encoding='utf-8-sig'))
file.keys() # categories', 'images', 'annotations
file['categories']

[]

In [3]:
file['images'][0]['file_name']

'./477028_objt_of_2021-01-27_12-03-34-33_002.JPG'

In [4]:
len(file['images'])

50200

In [5]:
import pandas as pd

df = pd.DataFrame()

# file_name = []

# for i in len(range(file['images'])):
#     file_name.append(file['images'][i]['file_name'])
    
# print(file_name)

In [6]:
data1 = pd.json_normalize(file['images'])
data1.head()

,light,file_name,width,date_captured,id,height
0,L02,./477028_objt_of_2021-01-27_12-03-34-33_002.JPG,2704.0,2021-02-04 16:38:53,398200.0,1520.0
1,L02,./484603_objt_of_2021-01-27_12-36-00-66_006.JPG,2704.0,2021-02-05 11:30:46,398390.0,1520.0
2,L02,./465274_objt_of_2021-01-29_10-43-52-66_003.JPG,2704.0,2021-02-04 12:13:34,398405.0,1520.0
3,L02,./463152_objt_of_2021-01-28_12-15-02-33_002.JPG,2704.0,2021-02-04 10:27:30,398463.0,1520.0
4,L02,./470017_objt_of_2021-01-27_09-30-29-00_001.JPG,2704.0,2021-02-04 15:40:13,398504.0,1520.0

In [7]:
data2 = pd.json_normalize(file['annotations'])
data2.head()

,diseases_bbox,category_id,iscrowd,bbox,id,attribute,diseases_desc,image_id,keypoints,gd,diseases_exist
0,[],1.0,1.0,"[1043.0, 155.0, 575.0, 1193.0]",398200.0,objt,,398200.0,"[1164.0, 156.0, 1436.0, 1183.0, 1097.0, 643.0,...",337.0,False
1,[],1.0,1.0,"[496.0, 118.0, 860.0, 1300.0]",398390.0,objt,,398390.0,"[547.0, 1404.0, 1140.0, 326.0, 967.0, 1068.0, ...",337.0,False
2,[],1.0,1.0,"[1444.0, 481.0, 944.0, 762.0]",398405.0,objt,,398405.0,"[2382.0, 498.0, 1546.0, 1131.0, 1872.0, 617.0,...",259.0,False
3,[],1.0,1.0,"[1167.0, 578.0, 749.0, 458.0]",398463.0,objt,,398463.0,"[1167.0, 887.0, 1837.0, 669.0, 1519.0, 953.0, ...",258.0,False
4,[],1.0,1.0,"[1023.0, 84.0, 1096.0, 445.0]",398504.0,objt,,398504.0,"[1024.0, 343.0, 1970.0, 288.0, 1434.0, 486.0, ...",337.0,False

In [8]:
data2['fish_size'] = None

print(data2['bbox'][0][2]*0.026458333)
print(data2['bbox'][1][2]*0.026458333)

print(len(data2['bbox']))

15.213541475
22.75416638
50200

In [9]:
for i in range(len(data2['bbox'])):
    data2['fish_size'][i] = data2['bbox'][i][2]*0.026458333
    
data2['fish_size'].head()

<ipython-input-9-2c841d2a9214>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2['fish_size'][i] = data2['bbox'][i][2]*0.026458333

0    15.213541
1    22.754166
2    24.976666
3    19.817291
4    28.998333
Name: fish_size, dtype: object

In [10]:
data3 = pd.concat([data1 , data2] , axis=1)
data3.head()

,light,file_name,width,date_captured,id,height,diseases_bbox,category_id,iscrowd,bbox,id,attribute,diseases_desc,image_id,keypoints,gd,diseases_exist,fish_size
0,L02,./477028_objt_of_2021-01-27_12-03-34-33_002.JPG,2704.0,2021-02-04 16:38:53,398200.0,1520.0,[],1.0,1.0,"[1043.0, 155.0, 575.0, 1193.0]",398200.0,objt,,398200.0,"[1164.0, 156.0, 1436.0, 1183.0, 1097.0, 643.0,...",337.0,False,15.213541
1,L02,./484603_objt_of_2021-01-27_12-36-00-66_006.JPG,2704.0,2021-02-05 11:30:46,398390.0,1520.0,[],1.0,1.0,"[496.0, 118.0, 860.0, 1300.0]",398390.0,objt,,398390.0,"[547.0, 1404.0, 1140.0, 326.0, 967.0, 1068.0, ...",337.0,False,22.754166
2,L02,./465274_objt_of_2021-01-29_10-43-52-66_003.JPG,2704.0,2021-02-04 12:13:34,398405.0,1520.0,[],1.0,1.0,"[1444.0, 481.0, 944.0, 762.0]",398405.0,objt,,398405.0,"[2382.0, 498.0, 1546.0, 1131.0, 1872.0, 617.0,...",259.0,False,24.976666
3,L02,./463152_objt_of_2021-01-28_12-15-02-33_002.JPG,2704.0,2021-02-04 10:27:30,398463.0,1520.0,[],1.0,1.0,"[1167.0, 578.0, 749.0, 458.0]",398463.0,objt,,398463.0,"[1167.0, 887.0, 1837.0, 669.0, 1519.0, 953.0, ...",258.0,False,19.817291
4,L02,./470017_objt_of_2021-01-27_09-30-29-00_001.JPG,2704.0,2021-02-04 15:40:13,398504.0,1520.0,[],1.0,1.0,"[1023.0, 84.0, 1096.0, 445.0]",398504.0,objt,,398504.0,"[1024.0, 343.0, 1970.0, 288.0, 1434.0, 486.0, ...",337.0,False,28.998333

In [11]:
data3 = data3.drop(columns=['light', 'date_captured' ,'diseases_bbox' , 'attribute', 'iscrowd'])

In [12]:
data3 = data3.drop(columns=['image_id' , 'keypoints' , 'gd' , 'id' , 'id'])

In [13]:
# 질병이 없는 것만 다시 추림

data4 = data3[data3['diseases_exist'] == False]
data4

,file_name,width,height,category_id,bbox,diseases_desc,diseases_exist,fish_size
0,./477028_objt_of_2021-01-27_12-03-34-33_002.JPG,2704.0,1520.0,1.0,"[1043.0, 155.0, 575.0, 1193.0]",,False,15.213541
1,./484603_objt_of_2021-01-27_12-36-00-66_006.JPG,2704.0,1520.0,1.0,"[496.0, 118.0, 860.0, 1300.0]",,False,22.754166
2,./465274_objt_of_2021-01-29_10-43-52-66_003.JPG,2704.0,1520.0,1.0,"[1444.0, 481.0, 944.0, 762.0]",,False,24.976666
3,./463152_objt_of_2021-01-28_12-15-02-33_002.JPG,2704.0,1520.0,1.0,"[1167.0, 578.0, 749.0, 458.0]",,False,19.817291
4,./470017_objt_of_2021-01-27_09-30-29-00_001.JPG,2704.0,1520.0,1.0,"[1023.0, 84.0, 1096.0, 445.0]",,False,28.998333
...,...,...,...,...,...,...,...,...
50195,./165154_objt_rs_2020-12-10_15-53-27-66_003.JPG,2704.0,1520.0,3.0,"[854.0, 306.0, 1373.0, 610.0]",,False,36.327291
50196,./162051_objt_rs_2020-12-10_14-10-27-66_003.JPG,2704.0,1520.0,3.0,"[304.0, 595.0, 1390.0, 495.0]",,False,36.777083
50197,./175386_objt_rs_2020-12-05_10-35-35-66_004.JPG,2704.0,1520.0,3.0,"[748.0, 688.0, 639.0, 318.0]",,False,16.906875
50198,./159674_objt_rs_2020-12-10_13-06-02-66_003.JPG,2704.0,1520.0,3.0,"[875.0, 403.0, 1286.0, 599.0]",,False,34.025416
50199,./159512_objt_rs_2020-12-10_12-57-26-66_003.JPG,2704.0,1520.0,3.0,"[768.0, 531.0, 1055.0, 428.0]",,False,27.913541

In [14]:
data4 = data4.drop(columns=['diseases_desc' , 'diseases_exist'])

In [15]:
# id : 1(넙치(광어)) Olive flounder 금지체장 : 35
# id : 2(우럭(조피볼락)) Korea rockfish 23
# id : 3(참돔) Red seabream 금지체장 : 24
# id : 4(감성돔) Black porgy 25
# id : 5(돌돔) Rock bream 24
data4

,file_name,width,height,category_id,bbox,fish_size
0,./477028_objt_of_2021-01-27_12-03-34-33_002.JPG,2704.0,1520.0,1.0,"[1043.0, 155.0, 575.0, 1193.0]",15.213541
1,./484603_objt_of_2021-01-27_12-36-00-66_006.JPG,2704.0,1520.0,1.0,"[496.0, 118.0, 860.0, 1300.0]",22.754166
2,./465274_objt_of_2021-01-29_10-43-52-66_003.JPG,2704.0,1520.0,1.0,"[1444.0, 481.0, 944.0, 762.0]",24.976666
3,./463152_objt_of_2021-01-28_12-15-02-33_002.JPG,2704.0,1520.0,1.0,"[1167.0, 578.0, 749.0, 458.0]",19.817291
4,./470017_objt_of_2021-01-27_09-30-29-00_001.JPG,2704.0,1520.0,1.0,"[1023.0, 84.0, 1096.0, 445.0]",28.998333
...,...,...,...,...,...,...
50195,./165154_objt_rs_2020-12-10_15-53-27-66_003.JPG,2704.0,1520.0,3.0,"[854.0, 306.0, 1373.0, 610.0]",36.327291
50196,./162051_objt_rs_2020-12-10_14-10-27-66_003.JPG,2704.0,1520.0,3.0,"[304.0, 595.0, 1390.0, 495.0]",36.777083
50197,./175386_objt_rs_2020-12-05_10-35-35-66_004.JPG,2704.0,1520.0,3.0,"[748.0, 688.0, 639.0, 318.0]",16.906875
50198,./159674_objt_rs_2020-12-10_13-06-02-66_003.JPG,2704.0,1520.0,3.0,"[875.0, 403.0, 1286.0, 599.0]",34.025416
50199,./159512_objt_rs_2020-12-10_12-57-26-66_003.JPG,2704.0,1520.0,3.0,"[768.0, 531.0, 1055.0, 428.0]",27.913541

In [16]:
data4.to_csv('dataset1.csv' , index=False)

In [18]:
import pandas as pd

df_data1 = pd.read_csv('dataset1.csv', encoding='cp949')

df_data1

,file_name,width,height,category_id,bbox,fish_size
0,477028_objt_of_2021-01-27_12-03-34-33_002.JPG,2704,1520,1,"[1043.0, 155.0, 575.0, 1193.0]",15.213541
1,484603_objt_of_2021-01-27_12-36-00-66_006.JPG,2704,1520,1,"[496.0, 118.0, 860.0, 1300.0]",22.754166
2,465274_objt_of_2021-01-29_10-43-52-66_003.JPG,2704,1520,1,"[1444.0, 481.0, 944.0, 762.0]",24.976666
3,463152_objt_of_2021-01-28_12-15-02-33_002.JPG,2704,1520,1,"[1167.0, 578.0, 749.0, 458.0]",19.817291
4,470017_objt_of_2021-01-27_09-30-29-00_001.JPG,2704,1520,1,"[1023.0, 84.0, 1096.0, 445.0]",28.998333
...,...,...,...,...,...,...
50135,165154_objt_rs_2020-12-10_15-53-27-66_003.JPG,2704,1520,3,"[854.0, 306.0, 1373.0, 610.0]",36.327291
50136,162051_objt_rs_2020-12-10_14-10-27-66_003.JPG,2704,1520,3,"[304.0, 595.0, 1390.0, 495.0]",36.777083
50137,175386_objt_rs_2020-12-05_10-35-35-66_004.JPG,2704,1520,3,"[748.0, 688.0, 639.0, 318.0]",16.906875
50138,159674_objt_rs_2020-12-10_13-06-02-66_003.JPG,2704,1520,3,"[875.0, 403.0, 1286.0, 599.0]",34.025416
50139,159512_objt_rs_2020-12-10_12-57-26-66_003.JPG,2704,1520,3,"[768.0, 531.0, 1055.0, 428.0]",27.913541

In [19]:
df_data1.fish_size.dtype

dtype('float64')

In [20]:
dtset_Val_광어 = df_data1[(df_data1['category_id']==1)&(df_data1['fish_size']>=35)]
dtset_Val_광어

,file_name,width,height,category_id,bbox,fish_size
163,614179_objt_of_2021-02-07_09-03-00-66_006.JPG,2704,1520,1,"[948.0, 144.0, 1368.0, 782.0]",36.195000
556,597006_objt_of_2021-02-06_10-11-20-66_003.JPG,2704,1520,1,"[731.0, 307.0, 1435.0, 1082.0]",37.967708
584,435432_objt_of_2021-01-22_10-05-06-33_002.JPG,2704,1520,1,"[643.0, 577.0, 1338.0, 843.0]",35.401250
719,446460_objt_of_2021-01-26_09-23-55-66_003.JPG,2704,1520,1,"[528.0, 283.0, 1425.0, 612.0]",37.703125
935,629803_objt_of_2021-02-09_09-17-51-33_002.JPG,2704,1520,1,"[713.0, 334.0, 1733.0, 670.0]",45.852291
...,...,...,...,...,...,...
49131,615460_objt_of_2021-02-07_09-32-37-00_001.JPG,2704,1520,1,"[257.0, 788.0, 1329.0, 562.0]",35.163125
49191,594012_objt_of_2021-02-06_09-35-26-00_001.JPG,2704,1520,1,"[626.0, 512.0, 1725.0, 728.0]",45.640624
49325,616550_objt_of_2021-02-07_09-44-45-33_002.JPG,2704,1520,1,"[1306.0, 147.0, 1332.0, 541.0]",35.242500
49499,616135_objt_of_2021-02-07_09-33-22-33_002.JPG,2704,1520,1,"[444.0, 558.0, 1350.0, 681.0]",35.718750
49509,571502_objt_of_2021-02-04_10-37-22-33_002.JPG,2704,1520,1,"[787.0, 236.0, 1792.0, 754.0]",47.413333

In [21]:
dtset_Val_우럭 = df_data1[(df_data1['category_id']==2)&(df_data1['fish_size']>=23)]
dtset_Val_우럭

,file_name,width,height,category_id,bbox,fish_size
15,492574_objt_kr_2021-02-01_09-22-55-33_002.JPG,2704,1520,2,"[309.0, 678.0, 2202.0, 704.0]",58.261249
16,473718_objt_kr_2021-01-27_18-04-42-66_003.JPG,2704,1520,2,"[1211.0, 170.0, 1369.0, 508.0]",36.221458
18,416884_objt_kr_2021-01-26_16-21-06-33_002.JPG,2704,1520,2,"[622.0, 325.0, 1582.0, 553.0]",41.857083
19,434835_objt_kr_2021-01-27_14-15-35-00_001.JPG,2704,1520,2,"[1289.0, 719.0, 1178.0, 411.0]",31.167916
21,497425_objt_kr_2021-01-27_20-02-22-00_001.JPG,2704,1520,2,"[735.0, 385.0, 1594.0, 655.0]",42.174583
...,...,...,...,...,...,...
49777,557722_objt_kr_2021-02-05_14-13-03-00_001.JPG,2704,1520,2,"[406.0, 756.0, 872.0, 324.0]",23.071666
49798,245556_objt_kr_2021-01-13_09-08-23-66_003.JPG,2704,1520,2,"[892.0, 578.0, 1241.0, 474.0]",32.834791
49800,427024_objt_kr_2021-01-25_19-33-08-33_002.JPG,2704,1520,2,"[181.0, 625.0, 1681.0, 655.0]",44.476458
49802,182858_objt_kr_2020-12-20_16-06-54-33_002.JPG,2704,1520,2,"[439.0, 805.0, 1242.0, 448.0]",32.861250
49803,147030_objt_kr_2020-12-18_13-12-54-66_003.JPG,2704,1520,2,"[564.0, 854.0, 1479.0, 529.0]",39.131875

In [22]:
dtset_Val_참돔 = df_data1[(df_data1['category_id']==3)&(df_data1['fish_size']>=24)]
dtset_Val_참돔

,file_name,width,height,category_id,bbox,fish_size
555,268474_objt_rs_2021-01-17_09-56-49-33_003.JPG,2704,1520,3,"[962.0, 386.0, 1212.0, 587.0]",32.067500
570,269947_objt_rs_2021-01-17_09-38-57-00_001.JPG,2704,1520,3,"[1033.0, 784.0, 1376.0, 561.0]",36.406666
571,115666_objt_rs_2020-12-15_11-46-10-33_002.JPG,2704,1520,3,"[37.0, 731.0, 1403.0, 505.0]",37.121041
573,274311_objt_rs_2021-01-17_20-30-27-66_003.JPG,2704,1520,3,"[1025.0, 582.0, 1656.0, 612.0]",43.814999
575,275377_objt_rs_2021-01-17_12-48-01-33_002.JPG,2704,1520,3,"[259.0, 746.0, 1172.0, 559.0]",31.009166
...,...,...,...,...,...,...
50134,160666_objt_rs_2020-12-10_14-04-11-00_001.JPG,2704,1520,3,"[341.0, 635.0, 1341.0, 561.0]",35.480625
50135,165154_objt_rs_2020-12-10_15-53-27-66_003.JPG,2704,1520,3,"[854.0, 306.0, 1373.0, 610.0]",36.327291
50136,162051_objt_rs_2020-12-10_14-10-27-66_003.JPG,2704,1520,3,"[304.0, 595.0, 1390.0, 495.0]",36.777083
50138,159674_objt_rs_2020-12-10_13-06-02-66_003.JPG,2704,1520,3,"[875.0, 403.0, 1286.0, 599.0]",34.025416
50139,159512_objt_rs_2020-12-10_12-57-26-66_003.JPG,2704,1520,3,"[768.0, 531.0, 1055.0, 428.0]",27.913541

In [23]:
dtset_Val_감성돔 = df_data1[(df_data1['category_id']==4)&(df_data1['fish_size']>=25)]
dtset_Val_감성돔

,file_name,width,height,category_id,bbox,fish_size
1014,319824_objt_bp_2021-01-20_11-07-39-33_002.JPG,2704,1520,4,"[1132.0, 760.0, 1309.0, 512.0]",34.633958
1017,304336_objt_bp_2021-01-19_14-21-02-33_002.JPG,2704,1520,4,"[1064.0, 431.0, 1115.0, 443.0]",29.501041
1020,344739_objt_bp_2021-01-20_12-22-04-33_002.JPG,2704,1520,4,"[1120.0, 580.0, 1357.0, 542.0]",35.903958
1021,342287_objt_bp_2021-01-19_17-07-12-00_001.JPG,2704,1520,4,"[396.0, 859.0, 1373.0, 595.0]",36.327291
1022,626407_objt_bp_2021-01-20_15-16-17-33_002.JPG,2704,1520,4,"[1126.0, 783.0, 1333.0, 584.0]",35.268958
...,...,...,...,...,...,...
50113,89857_objt_bp_2020-12-08_11-03-08-33_002.JPG,2704,1520,4,"[842.0, 495.0, 1413.0, 563.0]",37.385625
50120,96763_objt_bp_2020-12-08_14-14-19-33_002.JPG,3840,2160,4,"[2094.0, 703.0, 1666.0, 561.0]",44.079583
50121,91639_objt_bp_2020-12-08_15-13-12-66_003.JPG,2704,1520,4,"[799.0, 562.0, 1013.0, 579.0]",26.802291
50124,91364_objt_bp_2020-12-08_11-20-41-66_003.JPG,2704,1520,4,"[995.0, 563.0, 1238.0, 502.0]",32.755416
50125,91791_objt_bp_2020-12-08_15-25-49-33_002.JPG,2704,1520,4,"[416.0, 699.0, 1058.0, 399.0]",27.992916

In [24]:
dtset_Val_돌돔 = df_data1[(df_data1['category_id']==5)&(df_data1['fish_size']>=24)]
dtset_Val_돌돔

,file_name,width,height,category_id,bbox,fish_size
93,541409_objt_rb_2021-02-03_17-11-47-33_002.JPG,2704,1520,5,"[632.0, 245.0, 1106.0, 544.0]",29.262916
97,374264_objt_rb_2021-01-06_09-22-36-00_001.JPG,2704,1520,5,"[848.0, 412.0, 995.0, 581.0]",26.326041
101,432539_objt_rb_2021-01-30_10-47-28-66_003.JPG,2704,1520,5,"[966.0, 814.0, 1130.0, 592.0]",29.897916
105,452656_objt_rb_2021-01-28_09-30-18-00_001.JPG,2704,1520,5,"[210.0, 768.0, 1299.0, 581.0]",34.369375
115,469417_objt_rb_2021-01-27_09-16-09-33_002.JPG,2704,1520,5,"[796.0, 422.0, 1107.0, 590.0]",29.289375
...,...,...,...,...,...,...
50087,391331_objt_rb_2021-01-22_12-00-11-00_001.JPG,2704,1520,5,"[368.0, 144.0, 1342.0, 606.0]",35.507083
50088,279604_objt_rb_2021-01-16_18-31-56-33_002.JPG,2704,1520,5,"[143.0, 433.0, 1573.0, 665.0]",41.618958
50093,362721_objt_rb_2021-01-21_18-31-10-00_001.JPG,2704,1520,5,"[1015.0, 485.0, 1532.0, 783.0]",40.534166
50094,386392_objt_rb_2021-01-21_21-38-23-00_001.JPG,2704,1520,5,"[456.0, 694.0, 1188.0, 593.0]",31.432500
50095,300184_objt_rb_2021-01-16_10-10-27-00_001.JPG,2704,1520,5,"[603.0, 474.0, 1501.0, 805.0]",39.713958

In [25]:
dtset_Val_광어.to_csv('dtset_Val_광어.csv' , index=False)
dtset_Val_우럭.to_csv('dtset_Val_우럭.csv' , index=False)
dtset_Val_참돔.to_csv('dtset_Val_참돔.csv' , index=False)
dtset_Val_감성돔.to_csv('dtset_Val_감성돔.csv' , index=False)
dtset_Val_돌돔.to_csv('dtset_Val_돌돔.csv' , index=False)