In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


df_data1 = pd.read_csv('dataset1.csv', encoding='cp949')
df_data2 = pd.read_csv('dataset2.csv', encoding='cp949')
df_data3 = pd.read_csv('dataset3.csv', encoding='cp949')
df_data4 = pd.read_csv('dataset4.csv', encoding='cp949')


# YOLOv5 모델에 연결 가능하도록 category_id 1부터 5를 0부터 4로 변경 (YOLOv5 모델은 0부터 시작)
# dpi = 96 인 column 생성 (YOLOv5 모델의 dpi를 96으로 통일시킴)

In [11]:
df_total = pd.concat([df_data1,df_data2, df_data3, df_data4], ignore_index=True)
df_total['dpi']= 96

df_total['category_id'] = df_total['category_id'].replace([1,2,3,4,5], [0,1,2,3,4])
df_total = df_total[['file_name', 'width', 'height', 'dpi', 'bbox', 'category_id', 'fish_size']]

df_total

,file_name,width,height,dpi,bbox,category_id,fish_size
0,./560364_objt_kr_2021-02-05_11-42-12-33_002.JPG,2704,1520,96,"[383, 292, 1012, 398]",1,26.775833
1,./311867_objt_bp_2021-01-19_15-31-35-33_002.JPG,2704,1520,96,"[938, 715, 1217, 552]",3,32.199791
2,./178923_objt_kr_2020-12-20_13-43-46-66_003.JPG,2704,1520,96,"[262, 743, 1286, 470]",1,34.025416
3,./234110_objt_bp_2021-01-12_09-55-50-00_001.JPG,2704,1520,96,"[413, 595, 1353, 673]",3,35.798125
4,./392885_objt_rb_2021-01-22_10-26-05-33_002.JPG,2704,1520,96,"[731, 39, 1113, 771]",4,29.448125
...,...,...,...,...,...,...,...
401199,./634921_objt_bp_2021-02-08_09-16-37-33_002.JPG,2704,1520,96,"[43, 625, 1421, 625]",3,37.597291
401200,./634962_objt_bp_2021-02-08_09-15-57-33_002.JPG,2704,1520,96,"[968, 284, 661, 247]",3,17.488958
401201,./634638_objt_bp_2021-02-08_09-12-35-33_002.JPG,2704,1520,96,"[1039, 411, 1183, 448]",3,31.300208
401202,./634616_objt_bp_2021-02-08_09-10-00-66_006.JPG,2704,1520,96,"[193, 361, 1112, 384]",3,29.421666
401203,./633922_objt_bp_2021-02-08_09-03-55-00_001.JPG,2704,1520,96,"[617, 363, 825, 349]",3,21.828125

In [12]:
# category_id 1~5 => 0~4 로 변경되었는지 확인 

df_total['category_id'].value_counts()

1    80572
2    80302
3    80287
0    80079
4    79964
Name: category_id, dtype: int64

In [14]:
import sqlite3
connection = sqlite3.connect('./stocks.sqlite')

df_total.to_sql('fish_SQL', connection, if_exists='append', index='False')
connection.close()


# 401204 rows × 8 columns

# df_total = pd.read_sql('SELECT * FROM fish_SQL', connection)
# df_total